body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #fff;
  display: inline-block;
  padding: 16px 0px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  position: relative;
}

#skates::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #e83c0e;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#skates:hover:after {
  width: 100%;
}

#seguro::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #d70a6e;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#seguro:hover:after {
  width: 100%;
}

#orcamento::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #138dc3;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#orcamento:hover:after {
  width: 100%;
}

#contato::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #517500;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#contato:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #202020;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2f2f2f;
  }
  #skates:after {
    display: none;
  }
  #seguro:after {
    display: none;
  }
  #orcamento:after {
    display: none;
  }
  #contato:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.intro-bg {
  background: #000000;
  color: #fff;
  box-shadow: inset 0 -120px #fff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro-content {
  align-self: flex-end;
  padding-bottom: 200px;
}

.intro img {
  height: 100%;
  object-fit: cover;
}

.intro h1 {
  color: #f8f8f8;
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.12;
}

.intro span {
  color: #ee5931;
}

.intro p {
  color: #adadad;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
}

.intro a {
  color: #000000;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(#ec7859, #e83c0e);
  box-shadow: 0 1px 2px rgba(0, 0, 0.1);

  text-transform: uppercase;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.intro a:hover {
  background: linear-gradient(#fc7859, #f93c0e);
}