.skates-bg:nth-child(odd) {
  background-color: var(--black);
}

.skates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.skates-img {
  display: grid;
}

.skates-img img {
  grid-area: 1/1;
}

.skates-img span {
  grid-area: 1/1;
  place-self: start end;
  background-color: var(--black);
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0 0 5px;
}

.skates-content {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}

.skates h2,
.skates p {
  grid-column: 1/-1;
  padding-bottom: 40px;
}

.skates a {
  place-self: start;
}

.skates ul {
  padding-bottom: 40px;
}

.skates li {
  display: flex;
  align-items: center;
}

.skates li + li {
  margin-top: 16px;
}

.skates-content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .skates {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .skates-content {
    grid-template-columns: 1fr;
  }

  .skates ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .skates a {
    place-self: start;
  }
}
