.button {
  padding: 16px 32px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(var(--orange-1), var(--orange-3));
  box-shadow: 0 1px 2px rgba(0, 0, 0.1);

  text-transform: uppercase;
  font-family: Poppins;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.button:hover {
  background: linear-gradient(#fc7859, #f93c0e);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
